<!DOCTYPE html>
<html lang="en">
<head>
<title>Slim Skeleton v1.0</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
{{ source ('assets/css/main.css') }}
</style>
</head>
<body>



<header>
  <h2>Slim Skeleton v1.0</h2>
</header>

<article>
    <h2>Have a Coffee, <small>code hard</small></h2>
    <p>
        This is a kind of php skeleton for playing around purpose. <strong>MVC</strong> structured.
        It has some helpful functions too, in <code>./bootstrap/functions.php</code> file.
        I build it, for a some sort of challange, using tutorials and documentations.
        <br />
        I'll keep it updated with <strong>playing around coding stuff</strong> which I collect from my code journey and tutorials.
        <br />
        <br />
        <br />
        <br />
        Have a good coding day!
        <h3>MAZux</h3>
    </p>
</article>

<footer>
  <p>MIT Licence</p>
</footer>

</body>
</html>